<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto voluptate
  maiores laborum animi? Quasi nisi ipsam temporibus repudiandae illo dolorum
  tenetur ipsa voluptatem perspiciatis praesentium, provident modi distinctio
  quidem quas? In delectus corrupti esse cum error labore minus quis facilis
  assumenda quidem, expedita blanditiis vero dicta quia eum, officiis veritatis
  doloribus eveniet mollitia distinctio provident dolor fugit. Rem repellat
  quasi ducimus, est explicabo quis praesentium. Facilis, sit quaerat, molestias
  dicta a modi suscipit perspiciatis vitae officiis id amet dolor dolore? Error
  commodi saepe quas illum, dicta officiis assumenda possimus at sit ratione,
  numquam perferendis tempora quam cum voluptate? Excepturi, reprehenderit?
</p>
<app-my-india></app-my-india>
